<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_worshipministry.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>Worship Ministry</h1>
		<div id="breadcrumbs">
			<div ng-include="'js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.ministries" class="x148">Our Ministries</a>
			&raquo; <a ui-sref="app.worship" class="active">Worship Ministry</a>
		</div>

		<div style="text-align: center;">
			<span style="color: rgb(212, 171, 66);">
				<strong>
					<span style="font-family: Verdana;">
						<span style="font-size: 12pt;">
							<img width="900" height="400" border="0" alt="" src="https://placehold.it/900x400" />
							<br />
							<br /> 
						</span>
					</span>
				</strong>
			</span>
			<span style="font-size: 14pt;">
				<span style="color: rgb(212, 171, 66);">
					<strong>
						<span style="font-family: Verdana;">
							Our worship services are a lively and exciting mix of contemporary music, praise and worship, as well as some rewritten hymns that you grew up with!
						</span>
					</strong>
				</span>
			</span>
			<span style="font-size: 10pt;">
				<span style="color: rgb(212, 171, 66);">
					<strong>
						<span style="font-family: Verdana;">
							<br /> 
						</span>
					</strong>
				</span>
				<span style="color: rgb(99, 197, 112);">
					<span style="font-family: Verdana;">
						<br /> 
						<span style="color: rgb(0, 0, 0);">
							<span style="font-size: 11pt;">
								No matter what your taste in music, there is something for everyone here at New Berlin. You will be refreshed, inspired, and encouraged every service. Can&rsquo;t wait to see you there!
							</span>
						</span>
						<br /><br /> 
						<span style="font-size: 11pt;">
							<span style="color: rgb(0, 0, 0);">
								Opportunities to get involved in the music ministry are many. They include: joining the Praise Team, singing solos, participating in drama, or getting involved in the sound and media ministries. If you are interested in becoming involved in the music program or drama, please contact me:
							</span>
						</span> 
					</span>
				</span>
			</span>
			<span style="color: rgb(99, 197, 112);">
				<span style="font-family: Verdana;">
					<span style="font-size: 12pt;">
						<a target="_blank" ui-sref="app.worshipleader">
							<span style="font-size: 11pt;">Karen Davis</span>
						</a>
					</span>
					<span style="font-size: 11pt;">
						<span style="color: rgb(0, 0, 0);">
							!
						</span>
					</span>
				</span>
			</span>
		</div>
	</div>
	<div id="no_sidebar">
		<font color="#63c570" face="Verdana">
			<span style="font-size: 15px;"><br /> </span>
		</font>
	</div>
</div>

<div class="clear"></div>