<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_servantschedule.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>
<div id="main">
	<div id="content_sans_sidebar">
		<h1>Childcare Servant Schedule</h1>
		<div id="breadcrumbs">
			<div ng-include="'js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.ministries" class="x148">Our Ministries</a>
			&raquo; <a ui-sref="app.children" class="x300">Kids&#39; Connection</a>
			&raquo; <a ui-sref="app.servantschedule" class="active">Childcare Servant Schedule</a>
		</div>
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>