<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_adultministries.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>Adult Ministries</h1>
		<div id="breadcrumbs">		
			<div ng-include="'js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.ministries" class="x148">Our Ministries</a>
			&raquo; <a ui-sref="app.adult" class="active">Adult Ministries</a>
		</div>
		<!-- <img border="0" alt="" src="https://placehold.it/240x240" /><br /> -->
		<div style="text-align: center;">
			<strong>
				<span style="font-family: Verdana;">
					<span style="font-size: 11pt;">
						<span style="color: rgb(212, 171, 66);">
							<br /> 
						</span>
					</span>
				</span>
			</strong>
		</div>
		<div style="text-align: center;">
			<strong>
				<span style="font-family: Verdana;">
					<span style="font-size: 11pt;">
						<span style="font-size: 14pt;">
							<span style="color: rgb(212, 171, 66);">
								Adult Bible Study on Wednesday Nights<br />
							</span>
						</span>
					</span>
				</span>
			</strong>
			<span style="font-family: Verdana;">
				<span style="font-size: 11pt;">
					<span style="color: rgb(212, 171, 66);">
						<br /> 
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="font-size: 11pt;">
				<span style="font-family: Verdana;">
					Wednesday nights are relaxed, conversational, and casual in nature. It's a time where your Bible questions can be answered, and your prayer requests can be shared and lifted up. Please join us as we dive into God's Word!
				</span>
			</span>
		</div>
		<div style="text-align: center;">
			<span style="font-family: Verdana;">
				<span style="color: rgb(0, 0, 0);">
					<span style="font-size: 10pt;">
						<br />
					</span>
				</span>
			</span>
			<span style="font-size: 11pt;">
				<span style="font-family: Verdana;">
					<span style="color: rgb(0, 0, 0);">
						Our Adult Bible Study meets together on Wednesday nights from 7pm to 8pm.
					</span>
				</span>
				<span style="color: rgb(99, 197, 112);">
					<span style="font-family: Verdana;">
						<br /> 
					</span>
				</span>
			</span>
			
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>