<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_vt.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>Vision Team</h1>
		<div id="breadcrumbs">
			<div ng-include="'js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.about" class="x200">About NBRC</a>
			&raquo; <a ui-sref="app.staff" class="x309">Meet Our Staff</a>
			&raquo; <a ui-sref="app.visionteam" class="active">Vision Team</a>
		</div>
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>