<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_meetourstaff.jpg"	alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>Meet Our Staff</h1>
		<div id="breadcrumbs">
			<div ng-include="'js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.about" class="x200">About NBRC</a>
			&raquo; <a ui-sref="app.staff" class="active">Meet Our Staff</a>

		</div>

		<div style="text-align: center;">
			<span style="color: rgb(0, 0, 0);">
				<span style="font-size: 20pt;">
					<strong>
						<span style="font-family: Verdana;">&nbsp;Staff</span>
					</strong>
				</span>
			</span>
			<span style="font-size: 28pt;">
				<span style="color: rgb(99, 197, 112);">
					<br /> 
				</span>
			</span>
		</div>
		<table width="250" border="0" cellpadding="1" cellspacing="1" align="center" height="325">
			<tbody>
				<tr>
					<td style="text-align: center;">
						<strong>
							<span style="font-size: 10pt;">
								<span style="color: rgb(212, 171, 66);">
									<span style="font-family: Verdana;">
										Matthew Meadows
									</span>
								</span>
							</span>
						</strong>
						<span style="font-size: 10pt;">
							<span style="color: rgb(212, 171, 66);">
								<span style="font-family: Verdana;">
									<br /> 
									Senior Pastor
								</span>
							</span>
						</span>
						<span style="font-size: 10pt;">
							<span style="font-family: Verdana;">
								<br /> 
								<a target="_self" ui-sref="app.seniorpastor">
									<img border="0" width="300" height="389" alt="" src="https://placehold.it/300x389" />
								</a>
							</span>
						</span>
					</td>
					<td style="text-align: center;">
						<font class="Apple-style-span" color="#d4ab42" face="Verdana" size="2">
							<b>&nbsp;
								&nbsp; &nbsp;&nbsp;
							</b>
						</font>
					</td>
					<!-- <td style="text-align: center;">
						<strong>
							<span style="font-size: 10pt;">
								<span style="color: rgb(212, 171, 66);">
									<span style="font-family: Verdana;">Karen Davis</span>
								</span>
							</span>
						</strong>
						<span style="font-size: 10pt;">
							<span style="color: rgb(212, 171, 66);">
								<span style="font-family: Verdana;">
									<br /> 
									Worship Leader
								</span>
							</span>
						</span>
						<span style="font-family: Verdana;">
							<span style="font-size: 10pt;">
								<br /> 
								<a ui-sref="app.worshipleader">
									<img border="0" width="300" height="389" alt="" src="https://placehold.it/300x389" />
								</a>
							</span>
						</span>
					</td> -->
				</tr>
			</tbody>
		</table>
		<div style="text-align: center;">
			<span style="font-size: 14pt;">
				<strong>
					<span style="color: rgb(99, 197, 112);">
						<span style="font-family: Verdana;">
							<br /> 
							<span style="font-size: 20pt;">
								<span style="color: rgb(0, 0, 0);">
									Vision Team
								</span>
							</span>
						</span>
					</span>
				</strong>
			</span>
			<span style="color: rgb(99, 197, 112);">
				<span style="font-size: 28pt;">
					<span style="font-family: Verdana;">
						<br />
					</span>
				</span>
			</span>
		</div>
		<table width="100" border="0" align="center" cellpadding="1" cellspacing="1" height="100">
			<tbody>
				<tr>
					<td style="text-align: center;">
						<span style="font-size: 10pt;">
							<span style="color: rgb(212, 171, 66);">
								<span style="font-family: Verdana;">
									Jon&nbsp;Davis
								</span>
							</span>
						</span>
						<span style="color: rgb(212, 171, 66);">
							<span style="font-family: Verdana;">
								<span style="font-size: 10pt;">
									<br /> 
									<a target="_self" ui-sref="app.visionteam" >
										<img border="0" alt="" src="https://placehold.it/150x150" />
									</a>
									<br />
								</span>
							</span>
						</span>
					</td>
					<td style="text-align: center;">
						<span style="font-size: 10pt;">
							<span style="color: rgb(212, 171, 66);">
								<span style="font-family: Verdana;">
									Jerry&nbsp;Edenfield
								</span>
							</span>
						</span>
						<span style="color: rgb(212, 171, 66);">
							<span style="font-family: Verdana;">
								<span style="font-size: 10pt;">
									<br /> 
									<a target="_self" ui-sref="app.visionteam" >
										<img border="0" alt="" src="https://placehold.it/150x150" />
									</a>
									<br />
								</span>
							</span>
						</span>
					</td>
					<td style="text-align: center;">
						<span style="font-size: 10pt;">
							<span style="color: rgb(212, 171, 66);">
								<span style="font-family: Verdana;">
									Stephanie&nbsp;Edwards
								</span>
							</span>
						</span>
						<span style="color: rgb(212, 171, 66);">
							<span style="font-family: Verdana;">
								<span style="font-size: 10pt;">
									<br /> 
									<a target="_self" ui-sref="app.visionteam" >
										<img border="0" alt="" src="https://placehold.it/150x150" />
									</a>
									<br />
								</span>
							</span>
						</span>
					</td>
					<td style="text-align: center;">
						<span style="font-size: 10pt;">
							<span style="color: rgb(212, 171, 66);">
								<span style="font-family: Verdana;">
									Callie&nbsp;Murray
								</span>
							</span>
						</span>
						<span style="color: rgb(212, 171, 66);">
							<span style="font-family: Verdana;">
								<span style="font-size: 10pt;">
									<br /> 
									<a target="_self" ui-sref="app.visionteam" >
										<img border="0" width="150" height="150" alt=""	src="https://placehold.it/150x150" />
									</a>
									<br />
								</span>
							</span>
						</span>
					</td>
					<td style="text-align: center;">
						<span style="font-size: 10pt;">
							<span style="color: rgb(212, 171, 66);">
								<span style="font-family: Verdana;">
									Mark&nbsp;Raffield
								</span>
							</span>
						</span>
						<span style="color: rgb(212, 171, 66);">
							<span style="font-family: Verdana;">
								<span style="font-size: 10pt;">
									<br /> 
									<a target="_self" ui-sref="app.visionteam" >
										<img border="0" alt="" src="https://placehold.it/150x150" />
									</a>
									<br />
								</span>
							</span>
						</span>
					</td>
					<td style="text-align: center;">
						<span style="font-size: 10pt;">
							<span style="color: rgb(212, 171, 66);">
								<span style="font-family: Verdana;">
									Lance&nbsp;Taylor
								</span>
							</span>
						</span>
						<span style="color: rgb(212, 171, 66);">
							<span style="font-family: Verdana;">
								<span style="font-size: 10pt;">
									<br /> 
									<a target="_self" ui-sref="app.visionteam" >
										<img border="0" alt="" src="https://placehold.it/150x150" />
									</a>
									<br />
								</span>
							</span>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="text-align: center;">&nbsp;</div>
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>