<div id="marquis_wrap">
	<link rel="stylesheet" type="text/css" href="/css/banner-rotator.css" />
	<script type="text/javascript" src="/js/jquery.banner-rotator.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#marquee-rotator-container').bannerRotator({
				width : 900,
				height : 500,
				//transition:'h.slide',
				timer : 'bar',
				timerAlign : 'bottomRight',
				navButtons : 'large',
				tooltip : 'image',
				pauseOnHover : true,
				thumbnails : 'bullet',
				playButton : false,
				cssTransition : false,
				cpanelOutside : false,
				cpanelOnHover : true,
				selectOnHover : false,
				navButtonsOnHover : true
			});
		});
	</script>
<!-- 
	<div id="sub_flashbox" style="width: 900px; height: 500px; overflow: hidden;">
		<div id="marquee-rotator-container" class="banner-rotator">
			<ul>
				<li data-effect="fade" data-delay="6000">
					<a href="/images/align2.jpg">
						<img src="/images/align2.jpg" />
					</a>
				</li>
				<li data-effect="fade" data-delay="6000">
					<a href="/images/align.jpg">
						<img src="/images/align.jpg" />
					</a>
				</li>

				<li data-effect="fade" data-delay="6000"><a
					href="/web/20131022175702/http://nbrcjax.org/images/library/Website/circle.jpg">
						<img
						src="/web/20131022175702im_/http://nbrcjax.org/images/library/Website/thumbnails/circle.jpg" />
				</a></li>

				<li data-effect="fade" data-delay="6000"><a
					href="/web/20131022175702/http://nbrcjax.org/images/library/Website/jordan.jpg">
						<img
						src="/web/20131022175702im_/http://nbrcjax.org/images/library/Website/thumbnails/jordan.jpg" />
				</a></li>

				<li data-effect="fade" data-delay="6000"><a
					href="/web/20131022175702/http://nbrcjax.org/images/library/Website/pa.jpg">
						<img
						src="/web/20131022175702im_/http://nbrcjax.org/images/library/Website/thumbnails/pa.jpg" />
				</a></li>

				<li data-effect="fade" data-delay="6000"><a
					href="/web/20131022175702/http://nbrcjax.org/images/library/Website/jerry.jpg">
						<img
						src="/web/20131022175702im_/http://nbrcjax.org/images/library/Website/thumbnails/jerry.jpg" />
				</a></li>

				<li data-effect="fade" data-delay="6000"><a
					href="/web/20131022175702/http://nbrcjax.org/images/library/Website/rocks.jpg">
						<img
						src="/web/20131022175702im_/http://nbrcjax.org/images/library/Website/thumbnails/rocks.jpg" />
				</a></li>

				<li data-effect="fade" data-delay="6000"><a
					href="/web/20131022175702/http://nbrcjax.org/images/library/Website/al.jpg">
						<img
						src="/web/20131022175702im_/http://nbrcjax.org/images/library/Website/thumbnails/al.jpg" />
				</a></li>

			</ul>
		</div>
	</div> -->


</div>

<div id="main">
	<div id="content">
		<h1>NBRC Student Ministry</h1>
		<div id="breadcrumbs">
			<div ng-include="'/js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.ministries" class="x148">Our Ministries</a>
			&raquo; <a ui-sref="app.youth" class="active">NBRC Student Ministry</a>
		</div>

		<div style="text-align: center;">
			<span style="color: rgb(255, 146, 17);">
				<span style="font-size: 12pt;">
					<span style="font-family: Verdana;">
						<a target="_self" href="#">
							<img width="590" height="212" border="0" alt="" src="http://placehold.it/590x212" />
						</a>
						<br />
						<a target="_self" href="#">
							<img border="0" alt="" src="http://placehold.it/70x70" />
						</a>
					</span>
				</span>
			</span>
		</div>

		<script language="JavaScript">
			window.name = "mainmain";
			function mediaplayer(url) {
				var address = url;
				var popupwin = window
						.open(
								address,
								"MediaPlayer",
								"toolbar=no,width=750,height=600,directories=no,status=no,scrollbars=no,resizable=yes,menubar=no");
			}
		</script>

		<hr />
		<h2>Downloads</h2>
		<p>
			<table class="contentTable">
				<tr>	
					<th class="nowrap">Title</th>
					<th class="nowrap">Date</th>
					<th></th>	
				</tr>	
				<tr class="last">	
					<td class="top">
						<a class="download_table_title"	href="#">
							NBRC Student Ministry Medical Release Form
						</a>
					</td>
					<td class="top">
						<div class="download_table_date">
							07/01<span class="responsive_date">/2011</span>
						</div>
					</td>
					<td style="white-space: nowrap;" class="top">
						<a href="http://s3.amazonaws.com/storage.nm-storage.com/nbrcjax/downloads/NBRC_SM_Medical_Release_Form_2011_2012.pdf" class="SmallNavigation responsive_hide" title="View" target="_blank"> 
							<img src="/images/save_web.png" alt="View" class="iconlink download_save_icon" />
						</a> 
						<a href="https://chart.googleapis.com/chart?chs=300x300&amp;cht=qr&amp;chl=http%3A%2F%2Fs3%2Eamazonaws%2Ecom%2Fstorage%2Enm%2Dstorage%2Ecom%2Fnbrcjax%2Fdownloads%2FNBRC%5FSM%5FMedical%5FRelease%5FForm%5F2011%5F2012%2Epdf" rel="lytebox" class="SmallLink responsive_hide" title="Scan to Go Mobile"> 
							<img src="/images/qr_web.png" class="iconlink download_qr_icon" />
						</a>
					</td>
				</tr>	
			</table>
		</p>
	</div>

	<div id="sidebar">
		<div style="text-align: center;">
			<span style="font-size: 11pt;">
				<span style="font-family: Verdana;">
					<span style="color: rgb(91, 175, 208);">
						<img width="250" height="150" border="0" alt="" src="http://placehold.it/250x150" />
						<br />
						<br /> 
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="font-size: 9pt;">
				<span style="color: rgb(95, 198, 108);">
					<span style="font-family: Verdana;">
						We, the Student Ministry of New Berlin Road Church, exist for two main reasons:<br /> to <strong>love God</strong> and to <strong>love others</strong>!<strong>&nbsp;
						<br /></strong><br /> We meet all together once a week on <strong>Wednesday nights from 7pm-8pm @ New Berlin Elementary School</strong>. We hope you'll join us!
						<br /> <br /> For more information, please contact
						<br />
					</span>
				</span>
				<span style="color: rgb(91, 175, 208);">
					<span style="font-family: Verdana;"> </span>
				</span>
			</span>
			<span style="color: rgb(91, 175, 208);">
				<span style="font-size: 11pt;">
					<span style="font-family: Verdana;">
						<span style="font-size: 10pt;">
							<a target="_blank" href="#">
								<span style="font-size: 9pt;">Pastor Stephen Ankerich</span>
							</a>
						</span>
						<span style="color: rgb(213, 172, 54);">
							<span style="font-size: 9pt;">!
							</span>
						</span>
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="font-size: 11pt;">
				<span style="font-family: Verdana;">
					<span style="color: rgb(91, 175, 208);">
						<br /> 
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: center;">
			<span style="font-size: 9pt;">
				<span style="color: rgb(0, 0, 0);">
					<span style="font-family: Verdana;">Connect with Us on Facebook!</span>
				</span>
			</span>
			<span style="color: rgb(91, 175, 208);"><br /> </span>
		</div>
		<div style="text-align: center;">
			<span style="color: rgb(91, 175, 208);">
				<a target="_blank" href="http://www.facebook.com/groups/205601512814542/">
					<img border="0" alt="" src="http://placehold.it/70x70" />
				</a>
			</span>
		</div>
	</div>
</div>

<div class="clear"></div>