<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="/images/marquee_adultministries.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>Adult Ministries</h1>
		<div id="breadcrumbs">		
			<div ng-include="'/js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.ministries" class="x148">Our Ministries</a>
			&raquo; <a ui-sref="app.adult" class="active">Adult Ministries</a>
		</div>
		<img border="0" alt="" src="http://i36.photobucket.com/albums/e10/srankerich/NewBerlinRoadChurch/TransformingtheCity.jpg" /><br />
		<div style="text-align: center;">
			<strong>
				<span style="font-family: Verdana;">
					<span style="font-size: 11pt;">
						<span style="color: rgb(212, 171, 66);">
							<br /> 
						</span>
					</span>
				</span>
			</strong>
		</div>
		<div style="text-align: center;">
			<strong>
				<span style="font-family: Verdana;">
					<span style="font-size: 11pt;">
						<span style="font-size: 14pt;">
							<span style="color: rgb(212, 171, 66);">
								Adult Bible Study on Wednesday Nights<br />
							</span>
						</span>
					</span>
				</span>
			</strong>
			<span style="font-family: Verdana;">
				<span style="font-size: 11pt;">
					<span style="color: rgb(212, 171, 66);">
						<br /> 
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="font-size: 11pt;">
				<span style="font-family: Verdana;">
					Wednesday nights are relaxed, conversational, and casual in nature. It's a time where your Bible questions can be answered, and your prayer requests can be shared and lifted up. Please join us as we dive into God's Word!
				</span>
			</span>
		</div>
		<div style="text-align: center;">
			<span style="font-family: Verdana;">
				<span style="color: rgb(0, 0, 0);">
					<span style="font-size: 10pt;">
						<br />
					</span>
				</span>
			</span>
			<span style="font-size: 11pt;">
				<span style="font-family: Verdana;">
					<span style="color: rgb(0, 0, 0);">
						Our Adult Bible Study meets together on Wednesday nights from 7pm to 8pm at 
						<br /> 
						New Berlin Elementary School in the &quot;Cafetorium&quot;.
					</span>
				</span>
				<span style="color: rgb(99, 197, 112);">
					<span style="font-family: Verdana;">
						<br /> 
					</span>
				</span>
			</span>
			<span style="color: rgb(99, 197, 112);">
				<span style="font-family: Verdana;">
					<span style="font-size: 11pt;">
						<br />
					</span>
					<span style="font-size: 14pt;">
						<strong>
							<span style="color: rgb(212, 171, 66);">
								ZOE Groups
							</span>
						</strong>
					</span>
					<span style="font-size: 11pt;">
						<br /> 
						<span style="font-size: 10pt;">
							<span style="color: rgb(212, 171, 66);">
								The Greek word, 'ZOE', literally means 'lots of life'.
							</span>
						</span>
					</span>
				</span>
			</span>
			<span style="color: rgb(99, 197, 112);">
				<span style="font-family: Verdana;">
					<span style="font-size: 11pt;">
						<span style="font-size: 10pt;">
							<br /> 
						</span>
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="font-size: 11pt;">
				<span style="color: rgb(0, 0, 0);">
					<span style="font-family: Verdana;">
						To experience the abundant life that Jesus spoke of in John 10:10, we must be living according to the mission the Lord has given us. Our mission is to 'love God and love others'. We accomplish this mission by what we call 'relational ministry'. Our Wednesday and Sunday services are awesome, and extremely important! However, they're only part of the puzzle. Our &quot;ZOE Groups&quot; are vital to the success of relational ministry, as they're the place where you can share your life with others. The good times, the tough times, and all the times in between. There's an unmistakable, intimate closeness that happens in a small group that just isn't possible in a big group! And it's for these reasons (and so many more) that we pray every person connected with NBRC is involved in a ZOE Group!
						<br />
					</span>
					<br /> 
				</span>
			</span>
		</div>
		<div style="text-align: center;">
			<span style="font-size: 14pt;">
				<span style="color: rgb(212, 171, 66);">So, what are ZOE Groups?
				<br />
				</span>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="font-size: 14pt;">
				<span style="color: rgb(212, 171, 66);"> </span>
			</span>
			<span style="color: rgb(99, 197, 112);">
				<span style="font-family: Verdana;">
					<span style="font-size: 11pt;">
						<span style="font-size: 10pt;"> 
							<span style="font-size: 11pt;">
								<span style="color: rgb(0, 0, 0);">
									The mission of the ZOE Groups Ministry is to connect NBRC members for the purpose of building relationships and promoting spiritual growth by establishing small groups. NBRC ZOE Groups are all about friendships, encouragement, prayer, and the study of God's Word! In a ZOE Group you can take a break from the busy demands of everyday life and invest in what is really important: your relationship with God and your relationship with the people around you! 
								</span>
							</span>
							<br /> <br />
						</span>
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: center;">
			<span style="font-size: 14pt;">
				<span style="color: rgb(212, 171, 66);">
					So, why should I go to a ZOE Group?<br />
				</span>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="color: rgb(99, 197, 112);">
				<span style="font-family: Verdana;">
					<span style="font-size: 11pt;">
						<span style="font-size: 10pt;"> 
							<span style="font-size: 11pt;">
								<span style="color: rgb(0, 0, 0);">
									Simply put, things happen in a small group of people that just don't happen in a big group of people. The Bible gives us many examples of how peoples' lives were changed when they met in homes in small groups. And the same happens today as we hear of how ZOE Groups have provided friendship, support, encouragement, and an opportunity for a closer relationship with Christ. Get connected in a Zoe Group and watch how the Lord changes your life!
								</span>
								<br /> 
							</span> 
							<br />
						</span>
					</span>
					<span style="color: rgb(0, 0, 0);">Please contact</span> 
					<a target="_blank" ui-sref="app.seniorpastor">
						Pastor Matthew Meadows
					</a> 
					<span style="color: rgb(0, 0, 0);">
						or Jon Davis for more information about the ZOE Group meetings! 
					</span>
					<span style="font-size: 11pt;"><br /> </span>
				</span>
			</span>
		</div>
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>