<div id="main">
	<div id="content">
		<h1>Kids&#39; Connection</h1>
		<div id="breadcrumbs">
			<div ng-include="'/js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.ministries" class="x148">Our Ministries</a>
			&raquo; <a ui-sref="app.children" class="active">Kids&#39; Connection</a>
		</div>

		<div style="text-align: center;">
			<span style="color: rgb(213, 172, 54);">
				<span style="font-size: 14pt;">
					<span style="font-family: Verdana;">
						<b>
							&quot;Train up a child in the way he should go:
							<br /> and when he is old, he will not part from it.&quot;
							<br /> Proverbs 22:6
						</b>
					</span>
				</span>
			</span>
			<span style="font-family: Verdana;">
				<span style="font-size: 11pt;">
					<b>
						<br /> <br /> 
					</b>
					<span style="color: rgb(213, 172, 54);">
						<span style="font-size: 14pt;">
							<strong>Nursery/Toddlers/Pre-School</strong>
						</span>
					</span>
					<span style="font-size: 14pt;">
						<strong>
							<br /> 
						</strong>
					</span>
					<strong>
						<span style="font-size: 10pt;"> </span>
					</strong>
					<span style="font-size: 10pt;">
						Our Preschool Ministry provides a safe and secure environment where little ones grow toward a saving knowledge of the Lord Jesus. Our team of loving, nurturing volunteers take precious time week to teach your children foundational truths necessary for spiritual understanding as they grow into childhood. We want to ensure that our children grow up knowing how much God loves them and how much we, as a church, value them. Our class rooms have age appropriate toys and our children develop positive, happy feelings about God, Jesus and the Bible. Our Nursery Ministry wants to welcome &quot;God's Newest Creations&quot;!
					</span>
					<b> 
						<br />
					</b>
				</span>
			</span>
			<font face="Verdana" size="2">
				<b>
					<br /> 
					<span style="color: rgb(213, 172, 54);">
						<span style="font-size: 14pt;">
							Children's Ministry
						</span>
					</span>
					<span style="font-size: 14pt;">
						<span style="color: rgb(0, 0, 0);">
							<br /> 
						</span>
					</span> 
				</b>
				<span style="font-family: Verdana;">
					<span style="font-size: 10pt;">
						The Children's Ministry team welcomes you and your child(ren) with open arms and with ministry opportunities. Children, ages 5 to 5th grade, meet on Wednesday nights to fellowship with each other, learn about Jesus, &amp; practice for performances in our Sunday morning/Wednesday night Services.
						<br /> <br /> 
						<span style="color: rgb(213, 172, 54);">
							<span style="font-size: 14pt;">
								<strong>Children's Church</strong>
							</span>
						</span>
						<strong>
							<br /> 
						</strong>
						This ministry is for children in Kindergarten thru 3rd grade and meets after the music in our Sunday morning Service. The children have the opportunity to learn God's Word at their level with Bible lessons, Jesus stories, crafts, and learning to pray. We feel that children older than 3rd grade should be a part of the Sunday morning Service. 
					</span>
				</span>
			</font>
			<font face="Verdana" color="#f100fc" size="2"><b> </b></font>
		</div>
		<span style="color: rgb(255, 0, 255);">
			<span style="font-family: Verdana;">
				<span style="font-size: 10pt;">
				</span>
			</span>
		</span>
	</div>

	<div id="sidebar">
		<div style="text-align: center;">
			<img width="250" height="95" border="0" alt="" src="http://placehold.it/250x95" />
		</div>
		<div style="text-align: left;">
			<span style="color: rgb(95, 198, 108);">
				<strong>
					<span style="font-family: Verdana;">
						<span style="font-size: 10pt;">
							&quot;Kids' Connection&quot;&nbsp;
						</span>
					</span>
				</strong>
			</span>
			<span style="color: rgb(95, 198, 108);">
				<span style="font-family: Verdana;">
					<span style="font-size: 10pt;">
						<span style="font-size: 9pt;">
							is fully committed to reaching the children of this generation and those to come.
						</span>
					</span>
				</span>
				<strong>
					<span style="font-family: Verdana;">
						<span style="font-size: 10pt;">
							<br />
						</span>
					</span>
				</strong>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="color: rgb(95, 198, 108);">
				<span style="font-family: Verdana;">
					<span style="font-size: 10pt;">
						<br />
					</span>
					<span style="font-size: 9pt;">
						At NBRC, we strive to offer a loving and caring environment as we seek to meet the spiritual needs of each child. Our children&rsquo;s ministry is filled with exciting ways for your child to be involved. Please come and visit us, we love meeting more of God's little ones!
						<br /> <br /> 
						For more information, please contact Tracy Miller or Jeanna Meadows!
					</span>
				</span>
			</span>
			<span style="font-family: Verdana;">
				<span style="color: rgb(252, 15, 255);">
					<span style="font-size: 10pt;">
						<br /> <br /> 
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: center;">Connect with Us on Facebook!</div>
		<div style="text-align: center;">
			<span style="font-family: Verdana;">
				<span style="color: rgb(252, 15, 255);">
					<span style="font-size: 10pt;"> 
						<a target="_blank" href="http://www.facebook.com/groups/301942999822803/">
							<img border="0" alt="" src="http://placehold.it/240x240" />
						</a>
					</span>
				</span>
			</span>
		</div>
	</div>
</div>

<div class="clear"></div>