<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="/images/marquee_contactnbrc.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>
<div id="main">
	<div id="content_sans_sidebar">
		<h1>Contact NBRC</h1>
		<div id="breadcrumbs">
			<div ng-include="'/js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.contact" class="active">Contact NBRC</a>
		</div>

		<strong>
			<span style="font-size: 14pt;">
				New Berlin Road Church 
				<br /> 2351 New Berlin Rd.
				<br /> Jacksonville FL 32218
				<br />
				904-751-6411
			</span>
		</strong>

		<style type="text/css" media="screen, projection, print">
			<!--
			.SDRequired {
				display: none;
				visibility: hidden;
			}
			-->
		</style>

		<form class="responsive" action="content.cfm?id=150&amp;id3=2760" method="post">
			<ul>
				<li>
					<label class="RequiredFieldLabel">First Name *</label> 
					<input type="text" name="first_name" value="">
				</li>
				<li>
					<label class="RequiredFieldLabel">Last Name *</label> 
					<input type="text" name="last_name" value="">
				</li>
			</ul>
			<ul>
				<li>
					<label>Street Address</label> 
					<input type="text" class="largeField" name="street_address" value="">
				</li>
			</ul>
			<ul>
				<li>
					<label>Other Address</label> 
					<input type="text" class="largeField" name="other_address" value="">
				</li>
			</ul>
			<ul>
				<li>
					<label>City</label> 
					<input type="text" name="city" value="">
				</li>
				<li>
					<label>State/Province</label> 
					<select name="state">
						<option value="">...
						<option value="AL">Alabama
						<option value="AK">Alaska
						<option value="AB">Alberta
						<option value="AZ">Arizona
						<option value="AR">Arkansas
						<option value="BC">British Columbia
						<option value="CA">California
						<option value="CO">Colorado
						<option value="CT">Connecticut
						<option value="DE">Delaware
						<option value="DC">District of Columbia
						<option value="FL">Florida
						<option value="GA">Georgia
						<option value="HI">Hawaii
						<option value="ID">Idaho
						<option value="IL">Illinois
						<option value="IN">Indiana
						<option value="IA">Iowa
						<option value="KS">Kansas
						<option value="KY">Kentucky
						<option value="LA">Louisiana
						<option value="ME">Maine
						<option value="MB">Manitoba
						<option value="MD">Maryland
						<option value="MA">Massachusetts
						<option value="MI">Michigan
						<option value="MN">Minnesota
						<option value="MS">Mississippi
						<option value="MO">Missouri
						<option value="MT">Montana
						<option value="NE">Nebraska
						<option value="NV">Nevada
						<option value="NB">New Brunswick
						<option value="NH">New Hampshire
						<option value="NJ">New Jersey
						<option value="NM">New Mexico
						<option value="NY">New York
						<option value="NF">Newfoundland
						<option value="NC">North Carolina
						<option value="ND">North Dakota
						<option value="NS">Nova Scotia
						<option value="OH">Ohio
						<option value="OK">Oklahoma
						<option value="ON">Ontario
						<option value="OR">Oregon
						<option value="PA">Pennsylvania
						<option value="PE">Prince Edward Island
						<option value="PQ">Quebec
						<option value="RI">Rhode Island
						<option value="SK">Saskatchewan
						<option value="SC">South Carolina
						<option value="SD">South Dakota
						<option value="TN">Tennessee
						<option value="TX">Texas
						<option value="UT">Utah
						<option value="VT">Vermont
						<option value="VA">Virginia
						<option value="WA">Washington
						<option value="WV">West Virginia
						<option value="WI">Wisconsin
						<option value="WY">Wyoming
						<option value="YT">Yukon Territory
					</select>
				</li>
				<li>
					<label>Zip/Postal Code</label> 
					<input type="text" class="smallField" name="zip" value="">
				</li>
			</ul>
			<ul>
				<li>
					<label>Country</label> 
					<select name="country">
						<option value="">...
						<option value="United States">United States
						<option value="Canada">Canada
						<option value="Japan">Japan
						<option value="United Kingdom">United Kingdom
						<option value="Australia">Australia
						<option value="Germany">Germany
						<option value="France">France
						<option value="Switzerland">Switzerland
						<option value="Italy">Italy
						<option value="Netherlands">Netherlands
						<option value="Albania">Albania
						<option value="Algeria">Algeria
						<option value="American Samoa">American Samoa
						<option value="Andorra">Andorra
						<option value="Anguilla">Anguilla
						<option value="Antartica">Antartica
						<option value="Antigua & Barbuda">Antigua & Barbuda
						<option value="Argentina">Argentina
						<option value="Armenia">Armenia
						<option value="Aruba">Aruba
						<option value="Australia">Australia
						<option value="Austria">Austria
						<option value="Azerbaijan">Azerbaijan
						<option value="Bahamas">Bahamas
						<option value="Bahrain">Bahrain
						<option value="Bangladesh">Bangladesh
						<option value="Barbados">Barbados
						<option value="Belarus">Belarus
						<option value="Belgium">Belgium
						<option value="Belize">Belize
						<option value="Benin">Benin
						<option value="Bermuda">Bermuda
						<option value="Bhutan">Bhutan
						<option value="Bolivia">Bolivia
						<option value="Botswana">Botswana
						<option value="Bouvet Island">Bouvet Island
						<option value="Brazil">Brazil
						<option value="British Indian Ocean Terr.">British
							Indian Ocean Terr.
						<option value="Brunei Darussalam">Brunei Darussalam
						<option value="Bulgaria">Bulgaria
						<option value="Burkina Faso">Burkina Faso
						<option value="Burundi">Burundi
						<option value="Cambodia">Cambodia
						<option value="Cameroon">Cameroon
						<option value="Canada">Canada
						<option value="Cape Verde">Cape Verde
						<option value="Cayman Islands">Cayman Islands
						<option value="Central African Republic">Central African
							Republic
						<option value="Chad">Chad
						<option value="Chile">Chile
						<option value="China">China
						<option value="Christmas Island">Christmas Island
						<option value="Cocos (Keeling) Isl">Cocos (Keeling) Isl
						<option value="Colombia">Colombia
						<option value="Comoros">Comoros
						<option value="Congo">Congo
						<option value="Cook Isl">Cook Isl
						<option value="Costa Rica">Costa Rica
						<option value="Cote D'Ivoire">Cote D'Ivoire
						<option value="Croatia">Croatia
						<option value="Cyprus">Cyprus
						<option value="Czech Republic">Czech Republic
						<option value="Denmark">Denmark
						<option value="Djibouti">Djibouti
						<option value="Dominica">Dominica
						<option value="Dominican Republic">Dominican Republic
						<option value="East Timor">East Timor
						<option value="Ecuador">Ecuador
						<option value="Egypt">Egypt
						<option value="El Salvador">El Salvador
						<option value="Equatorial Guinea">Equatorial Guinea
						<option value="Estonia">Estonia
						<option value="Ethiopia">Ethiopia
						<option value="Faeroe Islands">Faeroe Islands
						<option value="Falkland Isl. (Malvinas)">Falkland Isl.
							(Malvinas)
						<option value="Fiji">Fiji
						<option value="Finland">Finland
						<option value="France">France
						<option value="French Guiana">French Guiana
						<option value="French Polynesia">French Polynesia
						<option value="French Southern Terr.">French Southern
							Terr.
						<option value="Gabon">Gabon
						<option value="Gambia">Gambia
						<option value="Georgia">Georgia
						<option value="Germany">Germany
						<option value="Ghana">Ghana
						<option value="Gibraltar">Gibraltar
						<option value="Greece">Greece
						<option value="Greenland">Greenland
						<option value="Grenada">Grenada
						<option value="Guadeloupe">Guadeloupe
						<option value="Guam">Guam
						<option value="Guatemala">Guatemala
						<option value="Guernsey C.I.">Guernsey C.I.
						<option value="Guinea">Guinea
						<option value="Guinea-Bissau">Guinea-Bissau
						<option value="Guyana">Guyana
						<option value="Haiti">Haiti
						<option value="Heard and McDonald Isl">Heard and
							McDonald Isl
						<option value="Honduras">Honduras
						<option value="Hong Kong">Hong Kong
						<option value="Hungary">Hungary
						<option value="Iceland">Iceland
						<option value="India">India
						<option value="Indonesia">Indonesia
						<option value="Ireland">Ireland
						<option value="Isle of Man">Isle of Man
						<option value="Israel">Israel
						<option value="Italy">Italy
						<option value="Jamaica">Jamaica
						<option value="Japan">Japan
						<option value="Jersey C.I.">Jersey C.I.
						<option value="Jordan">Jordan
						<option value="Kazakhstan">Kazakhstan
						<option value="Kenya">Kenya
						<option value="Kiribati">Kiribati
						<option value="Korea Republic of">Korea Republic of
						<option value="Kuwait">Kuwait
						<option value="Kyrgyzstan">Kyrgyzstan
						<option value="Laos">Laos
						<option value="Latvia">Latvia
						<option value="Lebanon">Lebanon
						<option value="Lesotho">Lesotho
						<option value="Liberia">Liberia
						<option value="Liechtenstein">Liechtenstein
						<option value="Lithuania">Lithuania
						<option value="Luxemborg">Luxemborg
						<option value="Macau">Macau
						<option value="Madagascar">Madagascar
						<option value="Malawi">Malawi
						<option value="Malaysia">Malaysia
						<option value="Maldives">Maldives
						<option value="Mali">Mali
						<option value="Malta">Malta
						<option value="Marshall Isl">Marshall Isl
						<option value="Martinique">Martinique
						<option value="Mauritania">Mauritania
						<option value="Mauritius">Mauritius
						<option value="Mexico">Mexico
						<option value="Micronesia">Micronesia
						<option value="Moldova Republic of">Moldova Republic of
						<option value="Monaco">Monaco
						<option value="Mongolia">Mongolia
						<option value="Montserrat">Montserrat
						<option value="Morocco">Morocco
						<option value="Mozambique">Mozambique
						<option value="Myanmar">Myanmar
						<option value="Namibia">Namibia
						<option value="Nauru">Nauru
						<option value="Nepal">Nepal
						<option value="Netherland Antilles">Netherland Antilles
						<option value="Netherlands">Netherlands
						<option value="New Caledonia">New Caledonia
						<option value="New Zealand">New Zealand
						<option value="Nicaragua">Nicaragua
						<option value="Niger">Niger
						<option value="Nigeria">Nigeria
						<option value="Niue">Niue
						<option value="Norfolk Isl">Norfolk Isl
						<option value="Northern Mariana Isl">Northern Mariana
							Isl
						<option value="Norway">Norway
						<option value="Oman">Oman
						<option value="Pakistan">Pakistan
						<option value="Palau">Palau
						<option value="Panama">Panama
						<option value="Panama Canal Zone">Panama Canal Zone
						<option value="Papua New Guinea">Papua New Guinea
						<option value="Paraguay">Paraguay
						<option value="Peru">Peru
						<option value="Philippines">Philippines
						<option value="Pitcairn">Pitcairn
						<option value="Poland">Poland
						<option value="Portugal">Portugal
						<option value="Puerto Rico">Puerto Rico
						<option value="Qatar">Qatar
						<option value="Reunion">Reunion
						<option value="Romania">Romania
						<option value="Russian Federation">Russian Federation
						<option value="Rwanda">Rwanda
						<option value="Saint Kitts & Nevis">Saint Kitts & Nevis
						<option value="Saint Lucia">Saint Lucia
						<option value="Samoa">Samoa
						<option value="San Marino">San Marino
						<option value="Sao Tome & Principe">Sao Tome & Principe
						<option value="Saudi Arabia">Saudi Arabia
						<option value="Senegal">Senegal
						<option value="Seychelles">Seychelles
						<option value="Sierra Leone">Sierra Leone
						<option value="Singapore">Singapore
						<option value="Slovakia">Slovakia
						<option value="Slovenia">Slovenia
						<option value="Solomon Islands">Solomon Islands
						<option value="Somalia">Somalia
						<option value="South Africa">South Africa
						<option value="Spain">Spain
						<option value="Sri Lanka">Sri Lanka
						<option value="St. Helena">St. Helena
						<option value="St. Pierre and Miquelon">St. Pierre and
							Miquelon
						<option value="St. Vincent & Grenadines">St. Vincent &
							Grenadines
						<option value="Suriname">Suriname
						<option value="Svalbard & Jan Mayen Isl">Svalbard & Jan
							Mayen Isl
						<option value="Swaziland">Swaziland
						<option value="Sweden">Sweden
						<option value="Switzerland">Switzerland
						<option value="Taiwan">Taiwan
						<option value="Tajikistan">Tajikistan
						<option value="Tanzania United Republic">Tanzania United
							Republic
						<option value="Thailand">Thailand
						<option value="Togo">Togo
						<option value="Tokelau">Tokelau
						<option value="Tonga">Tonga
						<option value="Trinidad & Tobago">Trinidad & Tobago
						<option value="Tunisia">Tunisia
						<option value="Turkey">Turkey
						<option value="Turkmenistan">Turkmenistan
						<option value="Turks and Caicos Isl">Turks and Caicos
							Isl
						<option value="Tuvalu">Tuvalu
						<option value="U.A.E.">U.A.E.
						<option value="U.S.Minor Outlying Isl">U.S.Minor
							Outlying Isl
						<option value="Uganda">Uganda
						<option value="Ukraine">Ukraine
						<option value="United Kingdom">United Kingdom
						<option value="United States">United States
						<option value="Uruguay">Uruguay
						<option value="Uzbekistan">Uzbekistan
						<option value="Vanuatu">Vanuatu
						<option value="Vatican City State">Vatican City State
						<option value="Venezuela">Venezuela
						<option value="Viet Nam">Viet Nam
						<option value="Virgin Isl (British)">Virgin Isl
							(British)
						<option value="Virgin Isl (U.S.)">Virgin Isl (U.S.)
						<option value="Wallis & Futuna Islands">Wallis & Futuna
							Islands
						<option value="Western Sahara">Western Sahara
						<option value="Yemen Republic of">Yemen Republic of
						<option value="Zaire">Zaire
						<option value="Zambia">Zambia
						<option value="Zimbabwe">Zimbabwe
					</select>
				</li>
				<li>
					<label>Region <span class="SmallNote">(Not U.S. or CAN)</span></label> 
					<input type="text" name="region" value="">
				</li>
			</ul>
			<ul>
				<li>
					<label>Primary Phone</label> 
					<input type="text" name="primary_phone" value="">
				</li>
			</ul>
			<ul>
				<li>
					<label class="RequiredFieldLabel">Email Address *</label> 
					<input type="text" class="largeField" name="email_address" value="">
				</li>
			</ul>
			<ul>
				<li>
					<label class="RequiredFieldLabel">Inquiry or Comment *</label> 
					<textarea name="inquiry"></textarea>
				</li>
			</ul>
			<p class="SDRequired">NOTE: Do Not Alter These Fields:</p>
			<label class="SDRequired">
				Email: <input type="text" name="email" class="SDRequired" value="" />
			</label> 
			<input type="checkbox" name="name29" class="SDRequired" value="1" />
			<input type="text" name="email86" class="SDRequired" /> 
			<input type="text" name="address254" class="SDRequired" /> 
			<input name="captcha_hash" type="hidden" value="eLmXYpstYMNc1r9okGO4WQ%3D%3D"> 
			<input	name="captcha_value" type="hidden" value="89D40F118CBD0164">
			<input name="captcha_text" type="hidden" value="17FD97689153011A0C4F2425FE6E52D9"> 
			<input name="captcha_field" type="hidden" value="899D696864DEC1A9D7CE53C0304E9C563CE0AB94802C56F084361FBA4F26F234">
			<input name="captcha_checksum" type="hidden" value="3"> 
			<input name="submitted_date" type="hidden" value="1382454036207"> 
			<input type="hidden" name="what_to_do" value="add">

			<ul>
				<li>
					<input type="submit" class="submitbutton" value="Send &#187;">
				</li>
			</ul>

		</form>
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>