<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_whatwebelieve.jpg"	alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>What We Believe</h1>
		<div id="breadcrumbs">
			<div ng-include="'/js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.about" class="x200">About NBRC</a>
			&raquo; <a ui-sref="app.believe" class="active">What We	Believe</a>

		</div>


		<div style="text-align: center;">
			<span style="color: rgb(99, 197, 112);">
				<span style="font-size: 10pt;">
					<span style="font-family: Verdana;">
						<span style="font-size: 11pt;">
							<strong>
								<img border="0" alt="" src="http://placehold.it/150x150" />
								<br />
								<span style="font-size: 14pt;">
									<span style="color: rgb(0, 0, 0);">
										<br /> <br /> 
										For a comprehensive look at our doctrinal beliefs, please click here:
									</span>
								</span>
								<br /> 
								<a target="_blank" href="http://sbc.net/bfm/default.asp">
									<span style="font-size: 12pt;">The Baptist Faith and Message</span>
									<br />
								</a>
							</strong>
						</span>
					</span>
				</span>
			</span>
			<strong>
				<span style="color: rgb(99, 197, 112);">
					<span style="font-size: 11pt;">
						<span style="font-family: Verdana;">
							<br />
							<br /> 
							<span style="font-size: 14pt;">
								<span style="color: rgb(0, 0, 0);">
									Our Mission Statement:
								</span>
							</span>
							<br />
						</span>
					</span>
				</span>
			</strong>
			<span style="font-size: 12pt;">
				<span style="color: rgb(212, 171, 66);">
					<strong>
						<span style="font-family: Verdana;">
							&quot;Let us keep in step with the Spirit,
							<br /> knowing Jesus and making Him known.&quot;
						</span>
					</strong>
				</span>
			</span>
			<span style="color: rgb(212, 171, 66);">
				<strong>
					<br />
				</strong>
				<span style="font-size: 10pt;">
					<em>
						&quot;Since we live by the Spirit, let us keep in step with the Spirit.&quot;
						-&nbsp;Galatians 5:25
					</em>
				</span>
			</span>
			<strong><br /> <br /> <br /> </strong>
		</div>
		<span style="font-size: 11pt;">
			<span style="font-family: Verdana;">
				- We believe both the Old and New Testament scriptures to be the inerrant, infallible, &amp; inspired Word of God.
				<br /> <br /> 
				- We believe there is one true God, and that He is revealed in all of the Father, Son, and Holy Spirit.
				<br /> <br /> 
				- We believe that Jesus is God in flesh, the &ldquo;God Man&rdquo;, begotten of the Holy Spirit, was born of the virgin Mary, was tempted as we are, yet without sin. Being the perfect &ldquo;Lamb of God&rdquo;, He freely gave His life to redeem the sins of man. He gave Himself in death on the cross, bearing the sins of the world, arose from the grave conquering death and ascended into Heaven as the intercessor and the advocate before the Father for all those that will receive Him as Savior.
				<br /> <br />
				- We believe that man&rsquo;s salvation/redemption was purchased by	the blood of the Lord Jesus Christ on the cross of Calvary. Christ paid the sin debt for man. Salvation cannot be earned, it is the	&ldquo;gift of God&rdquo; to all those that will freely accept it.
				<br /><br /> 
				- We believe that the church exists to glorify God.
			</span>
		</span>
		<br />
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>