<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="/images/marquee_aboutnbrc.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>
<div id="main">
	<div id="content">
		<h1>About NBRC</h1>
		<div id="breadcrumbs">
			<div ng-include="'/js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a> &raquo; <a ui-sref="app.about" class="active">About NBRC</a>

		</div>


		<div style="text-align: left;">
			<span style="font-size: 14pt;">
				<strong>
					<span style="font-family: Verdana;">
						Welcome!<br />
					</span>
				</strong>
			</span>
			<span style="font-family: Verdana;">
				<span style="font-size: 11px;">
					<br /> 
				</span>
				<font size="3"> </font>
			</span>
			<span style="font-size: 14pt;">
				We're so happy you're visiting our web site, and we hope that you're finding it helpful and	informative. Our goal here is to provide up-to-date information for	anyone interested in NBRC!
				<br /> <br /> 
				If you spend some time browsing around, we think you'll find that this site gives you an idea of who we are. However, a live, in-person visit is always the	best way to get to know someone! So, we have regular events, activities, and services geared towards all ages that give you the	opportunity to join us.
				<br /> <br /> 
				We look forward to meeting you, and please
			</span>
			<span style="font-size: 12pt;">
				<a ui-sref="app.contact">
					<span style="font-size: 14pt;">contact us</span>
				</a>
			</span>
			<span style="font-size: 14pt;"> if you need further information.<br />
				<br /> In Christ's Love,
			</span>
			<span style="font-family: Verdana;">
				<br /> <br /> 
				<font size="3">
					<br /> 
					<img width="250" height="82" border="0" alt="" src="http://placehold.it/250x82" />
					<br />
				</font>
			</span>
		</div>
		<span style="color: rgb(99, 197, 112);">
			<span style="font-size: 12pt;">
				<span style="font-family: Verdana;">
					<strong>
					</strong>
				</span>
			</span>
		</span>
	</div>
	<div id="sidebar">
		<span style="font-size: 11pt;">
			<strong>
				<span style="color: rgb(99, 197, 112);">
					<span style="font-family: Verdana;">Service Information:</span>
				</span>
			</strong>
		</span>
		<span style="color: rgb(99, 197, 112); font-size: 12pt; font-family: Verdana;">
			<br />
		</span>
		<span style="font-size: 9pt;">
			<strong	style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt;">
				Sunday Mornings 
			</strong>
		</span>
		<span style="color: rgb(95, 198, 108);">
			<span style="font-size: 9pt;">
				we meet from 10:30am to Noon @ First Coast High School
				<strong	style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt;">
				</strong>
				&amp;&nbsp;<br />
				<strong	style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt;">
					Thursday Nights 
				</strong>
				from 7pm to 8pm @ First Baptist Ocean Way Church. Click the	icons below for directions &amp; our calendar!
			</span>
		</span>
		<br /> <br />
		<table width="140" border="0" align="center" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<div>
							<a target="_self" href="http://nbrcjax.nextmeta.com/content.cfm?id=266">
								<img width="70" height="70" border="0" alt="" src="http://placehold.it/70x70" />
							</a>
						</div>
					</td>
					<td>
						<a href="http://nbrcjax.nextmeta.com/content.cfm?id=102">
							<img width="70" height="70" border="0" alt="" src="http://placehold.it/70x70" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt; text-align: center;">
			&nbsp;
		</div>
		<span style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 11pt;">
			<strong>
				Check Out Our Podcasts:
			</strong>
		</span>
		<br /> 
		<span style="color: rgb(95, 198, 108);">
			<span style="font-size: 9pt;">
				Click the icon below to see what we've been talking about lately.<br />
			</span>
		</span>
		<br />
		<div style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt; text-align: center;">
			<a target="_blank" href="http://sermon.net/nbrcjax">
				<img border="0" alt="" src="http://placehold.it/70x70" />
				<br />
			</a>
		</div>
		<span style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 11pt;">
			<strong>
				<br />
				Connect With Us:
			</strong>
		</span>
		<span style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 12pt;">
			<br />
		</span>
		<span style="color: rgb(95, 198, 108);">
			<span style="font-size: 9pt;">
				At NBRC,&nbsp;we value being connected to others as we follow Christ. One way we do this is through social media. Click any of the links below to stay up-to-date on the events and happenings of New Berlin Road Church!
			</span>
		</span>
		<br /> <br />
		<table width="210" height="70" border="0" align="center" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<a target="_blank" href="http://www.facebook.com/NewBerlinRoadChurch">
							<img border="0" alt="" src="http://placehold.it/70x70" />
						</a>
					</td>
					<td>
						<a target="_blank" href="https://twitter.com/#!/newberlinroad">
							<img border="0"	alt="" src="http://placehold.it/70x70" />
						</a>
					</td>
					<td>
						<a target="_blank" href="http://www.youtube.com/user/NewBerlinRoadChurch">
							<img border="0" alt="" src="http://placehold.it/70x70" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>