
.banner-rotator,.br-wrapper {position: relative; border: 0 solid #000; overflow: hidden; zoom: 1}
.banner-rotator img {max-width: none; max-height: none}
.br-stage {position: relative; width: 100%; height: 100%; z-index: 1}
.br-screen {position: relative; width: 100%; height: 100%; background-color: #000; overflow: hidden}
.banner-rotator>ul,.br-slides {position: absolute; width: 100%; height: 100%; padding: 0; margin: 0; list-style: none; z-index: 1}
.br-item {position: absolute; width: 100%; height: 100%; visibility: hidden; overflow: hidden}
.br-main-img {position: absolute; z-index: 1}
.br-img-link,.br-item .tt-html,.br-item .tt-img {visibility: hidden}
.br-preloader {position: absolute; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #000 url(/images/loader.gif) center no-repeat; -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); box-shadow: 0 0 5px rgba(0,0,0,0.5); z-index: 3}
.br-main-link {position: absolute; width: 100%; height: 100%; background: url(/images/spacer.png) center no-repeat; display: none; z-index: 4}
.br-layers {position: absolute; width: 100%; height: 100%; visibility: hidden; z-index: 5}
.br-layer {position: absolute; color: #fff; visibility: visible; overflow: hidden; display: none; -webkit-backface-visibility: hidden}
.br-effect-wrapper {position: absolute; border: 0; padding: 0; margin: 0; font-size: 100%; background: transparent; overflow: hidden}
.br-cpanel-wrapper {position: absolute; visibility: hidden; z-index: 2}
.br-cpanel {position: relative; margin: 5px}
.br-ext-cp {position: absolute; z-index: 2}
.br-ext-bg {position: absolute; width: 100%; height: 100%; background: 0}
.br-thumbnails {position: absolute; overflow: hidden}
.br-thumbnails ul {position: relative; top: 0; left: 0; padding: 0; margin: 0; list-style: none}
.br-thumbnails li {position: relative; display: inline; float: left; text-align: center; overflow: hidden; cursor: pointer}
.br-thumbnails li.br-thumb-img img {position: absolute}
.br-thumbnails li.br-thumb-img:hover,.br-thumbnails li.br-thumb-img.br-curr {border-color: #fff}
.br-thumbnails li.br-thumb-img div {position: absolute; width: 100%; height: 100%; filter: alpha(opacity=25); -moz-opacity: .25; opacity: .25}
.br-thumbnails li.br-thumb-img:hover div,.br-thumbnails li.br-thumb-img.br-curr div {filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0}
.br-play-button,.br-prev-button,.br-next-button {position: absolute; background-color: #1b1b1b; border: 1px solid #000; cursor: pointer; overflow: hidden}
.br-play-button:hover,.br-prev-button:hover,.br-next-button:hover {background-color: #bbb}
.br-play-button div,.br-prev-button div,.br-next-button div {position: absolute; top: 50%; left: 50%; width: 14px; height: 14px; margin-top: -7px; margin-left: -7px; font-size: 0; background: url(/images/br-assets.png) no-repeat}
.br-play-button div {background-position: 0 0}
.br-pause div {background-position: 0 -14px}
.br-prev-button div {background-position: 0 -28px}
.br-next-button div {background-position: 0 -42px}
.br-up div {background-position: 0 -56px}
.br-down div {background-position: 0 -70px}
.br-tt {position: absolute; left: -9999px; padding: 6px; z-index: 99999; zoom: 1; pointer-events: none}
.br-tt-content {position: relative; -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); box-shadow: 0 0 5px rgba(0,0,0,0.5); max-width: 400px; min-width: 12px; min-height: 12px; overflow: hidden}
.br-tt-tip {position: absolute}
.br-tt-top .br-tt-tip {top: 0; left: 50%; width: 12px; height: 6px; margin-left: -6px}
.br-tt-bottom .br-tt-tip {bottom: 0; left: 50%; width: 12px; height: 6px; margin-left: -6px; background-position: -14px -76px}
.br-tt-left .br-tt-tip {top: 50%; left: 0; width: 6px; height: 12px; margin-top: -6px}
.br-tt-right .br-tt-tip {top: 50%; right: 0; width: 6px; height: 12px; margin-top: -6px; background-position: -20px -70px}
.br-tt img.tt-img {display: block; visibility: hidden; max-width: none; max-height: none}
.br-effects {position: absolute; width: 100%; height: 100%; z-index: 2; visibility: hidden}
.br-block,.br-vslice,.br-hslice,.br-vslide,.br-hslide {position: absolute; background-repeat: no-repeat; visibility: hidden; -webkit-backface-visibility: hidden; overflow: hidden}
.br-vslice {height: 100%}
.br-hslice {width: 100%}
.br-vslide {width: 100%; height: 200%}
.br-hslide {width: 200%; height: 100%}
.br-vslide div,.br-hslide div {position: relative; float: left; background-repeat: no-repeat; overflow: hidden}
.br-vslide div {width: 100%; height: 50%}
.br-hslide div {width: 50%; height: 100%}
.br-effects img {position: absolute}
.br-bar-timer {position: absolute; left: 0; width: 0; height: 5px; font-size: 0; background-color: #fff; filter: alpha(opacity=50); -moz-opacity: .5; opacity: .5; z-index: 6}
.br-bar-timer.br-top {top: 0; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5)}
.br-bar-timer.br-bottom {bottom: 0; -moz-box-shadow: 0 -1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.5); box-shadow: 0 -1px 3px rgba(0,0,0,0.5)}
.br-pie-timer {position: absolute; width: 22px; height: 22px; margin: 10px; z-index: 6}
.br-lside,.br-rside {position: absolute; top: 0; width: 50%; height: 100%; overflow: hidden}
.br-lside {left: 0}
.br-rside {right: 0}
.br-rotate {position: absolute; top: 0; width: 200%; height: 100%; background: url(/images/br-assets.png) no-repeat}
.br-lside .br-rotate {left: 0; background-position: 0 -84px}
.br-rside .br-rotate {right: 0; background-position: -22px -84px}
.br-side-prev div,.br-side-next div,.br-thumbnails li.br-thumb-img div,.br-thumbnails li.br-bullet {-webkit-transition: opacity .4s; -moz-transition: opacity .4s; -ms-transition: opacity .4s; -o-transition: opacity .4s; transition: opacity .4s}
.br-thumbnails li,.br-play-button,.br-prev-button,.br-next-button {-webkit-transition: background-color .4s color .4s border-color .4s; -moz-transition: background-color .4s color .4s border-color .4s; -ms-transition: background-color .4s color .4s border-color .4s; -o-transition: background-color .4s color .4s border-color .4s; transition: background-color .4s color .4s border-color .4s}
.br-side-prev,.br-side-next {cursor: pointer; z-index: 7;}
.br-side-prev>div,.br-side-next>div {display: none;}/* Remove superfluous div */


/*
	DEFAULT STYLES TO COPY INTO STYLESHEETS, REMOVE FROM THIS FILE
*/

/*
#marquee, #sub_marquee {
	height: auto !important;  
	max-width: 100% !important;
	width: 100% !important;
	max-height: 400px !important;
	overflow: hidden !important;
}
*/

/*------- Prev/Next Buttons -------*/
/*
.br-side-prev,
.br-side-next {
	height: 50px; width: 50px; 
	margin: 5px; 
	position: absolute; top: 50%; 
	
}
.br-side-prev {background: url(/images/marquee_controls.png) 0 -50px; top: 40%; left: 0px;}
.br-side-next {background: url(/images/marquee_controls.png) -50px -50px; top: 40%; right: 0px;}
 
.br-side-prev:hover {background: url(/images/marquee_controls.png) 0 0;}
.br-side-next:hover {background: url(/images/marquee_controls.png) -50px 0;}
*/

/*------- Thumbnails -------*/

/* Use to move panel below marquee */
/* .br-cpanel-wrapper {bottom: -40px; }  */
/*
.br-thumbnails li.br-bullet {
	background: url(/images/marquee_controls.png) -20px -100px;  
	height: 15px; width: 15px; 
	margin: 5px;
	text-align: center; 
}
.br-thumbnails li.br-bullet:hover {background: url(/images/marquee_controls.png) -40px -100px;}
.br-thumbnails li.br-bullet.br-curr {background: url(/images/marquee_controls.png) -80px -100px;}
.br-thumbnails li.br-bullet.br-curr:hover {background: url(/images/marquee_controls.png) -60px -100px;}
*/