<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="/images/marquee_kd.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>Karen Davis, Worship Leader</h1>
		<div id="breadcrumbs">
			<div ng-include="'/js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.about" class="x200">About NBRC</a>
			&raquo; <a ui-sref="app.staff" class="x309">Meet Our Staff</a>
			&raquo; <a ui-sref="worshipleader" class="active">Karen Davis</a>
		</div>
		<div style="text-align: center;">
			<span style="color: rgb(212, 171, 66);">
				<span style="font-size: 12pt;">
					<span style="font-family: Verdana;">
						<img border="0" width="400" height="519" alt="" src="https://placehold.it/400x519" />
						&nbsp;
						<br />
						<span style="font-size: 11pt;">kdavis@ssav.net / Office:
							(904)-751-6411 / Cell: (904)-588-4003 / Fax: (904)-751-6659
						</span>
						<br />
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="font-size: 10pt;">
				<br /> 
			</span>
			<span style="color: rgb(0, 0, 0);">
				<span style="font-size: 11pt;">
					<span style="font-family: Verdana;">
						Growing up in Jacksonville, Karen was always around or involved in music. In the car, on the way to church, or on the way home, Karen and her brothers and sister would sing their favorite Southern Gospel songs along with their mom, breaking into harmony with one another. She has been singing solos and in groups since she was 5 years old. Karen and her brothers and sister formed a contemporary group, 2nd Chance, and sang at local churches until her sister moved away to Indiana (made getting together for practice a little difficult!).
					</span>
				</span>
			</span>
			<span style="font-size: 10pt;">
				<span style="font-family: Verdana;">
					<span style="color: rgb(99, 197, 112);">
						<br /> 
						<br /> 
					</span>
					<span style="color: rgb(0, 0, 0);">
						<span style="font-size: 11pt;">
							As a younger Christian, Karen&rsquo;s favorite verse was Galatians 5:1 &ndash; &quot;It is for freedom that Christ has set us free. Stand firm, then, and do not let yourselves be burdened again by a yoke of slavery.&quot; Though still a favorite verse, the one that has become near and dear to her heart is Romans 8:28 &ndash; &quot;And we know that in all things God works for the good of those who love Him, who have been called according to His purpose.&quot; What a wonderful promise we can rely on! No matter what happens in our lives, God has promised to work it for the good. It all comes down to a matter of trust and faith in the One who has made the promise. It takes a huge load off of your shoulders and there is a lot less worry in your life, if you are able to simply leave it all in His hands. My life motto is: It&rsquo;s all good!
							<br /> <br /> 
							Karen, her husband, Jon, and daughter, Nicole, had been looking for a church home when they visited New Berlin Road Church. It felt like they had come home and the following week, she was singing in the Praise Team. She was asked later to take over as Worship Leader and has been filling that role for several years now.
							<br /> <br />
							Karen&rsquo;s goal as Worship Leader is to bring the congregation to a place where they are able to lay their burdens down and put aside the pettiness and realize they are in the presence of an almighty and awesome God and that He loves them... so much. To bring them to a place where they can receive the message that God&rsquo;s Word has for them that day. Then, they are prepared and can go out to the mission field to share His Light. Wow, what an awesome honor!
							<br /> <br /> 
							Karen
						</span>
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: left;">&nbsp;</div>
		<div style="text-align: left;">&nbsp;</div>
		<div style="text-align: left;">&nbsp;</div>
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>
