<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="/images/marquee_mm.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>Matthew Meadows, Senior Pastor</h1>
		<div id="breadcrumbs">				
			<div ng-include="'/js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.about" class="x200">About NBRC</a>
			&raquo; <a ui-sref="app.staff" class="x309">Meet Our Staff</a>
			&raquo; <a ui-sref="app.seniorpastor" class="active">Matthew Meadows</a>
		</div>
		<div style="text-align: center;">
			<span style="font-size: 11pt;">
				<span style="color: rgb(99, 197, 112);">
					<span style="font-family: Verdana;">
						<span style="color: rgb(212, 171, 66);">
							<strong>
								<span style="font-size: 14pt;">
									The Meadows Family (Matthew, Jeanna, Jordan, Jonathan, Melea)
								</span>
							</strong>
							<br />
							pastormatthew@comcast.net / Office: (904)-751-6411 / Cell:
							(904)-962-4916 / Fax: (904)-751-6659
						</span>
					</span>
				</span>
			</span>
			<strong>
				<span style="color: rgb(99, 197, 112);">
					<span style="font-family: Verdana;">
						<span style="font-size: 10pt;">
							<br />
						</span>
					</span>
				</span>
			</strong>
		</div>
		<span style="color: rgb(99, 197, 112);">
			<b>
				<br /> 
			</b> 
			<span style="font-size: 11pt;">
				<span style="font-family: Verdana; color: rgb(0, 0, 0);">
					I grew up in a suburb of Birmingham, Alabama. After high school, I enrolled and graduated from Samford University. While at Samford University, God taught me lessons I continue to learn from today. I met my wife, Jeanna, during our junior year at Samford. After getting married, we moved to Fort Worth, Texas in order for me to attend Southwestern Baptist Theological Seminary. I earned two master&rsquo;s degrees while at Southwestern. 
					<br /> <br />
					Jeanna and I have 2 sons, Jordan, Jonathan, and our daughter Melea.
					All three of my children play the violin, while I just play the radio. I really enjoy war history and war movies, although, my wife has taught me to appreciate old movies featuring Cary Grant and others. My favorite team is the Alabama Crimson Tide. 
					<br /> <br />
					Matthew 6:33 is my life verse. &ldquo;But seek first the kingdom of God and all His righteousness and all these things will be added to you.&rdquo; My prayer is that my ministry will focus on God and not on the things He will add.
				</span>
			</span>
		</span>
		<br />
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>